<script src="./js/PopBox.js" type="text/javascript"></script>

<!-- (no ads)  -->
<{if not $ad_exists and not $preview}>
	<{$smarty.const._MD_CATADS_NO_ADS}>
<{else}>
<!-- (category breadcrumb)  -->
<{if not $preview}>
	<div><{$link_cat}></div>
<{/if}>

<br />

<table class="outer" width="100%" border="0"  cellpadding="0" cellspacing='0'>
  <tr>
    <td>

      <table width="100%" border="0">
        <tr>
          <td class="head">
            <{if $show_ad_type == 1}><{$annonce.type}><{/if}> <h1 class="itemTitle"><{$annonce.title}></h1>
          </td>
        </tr>
        <tr> 
          <td>
            <!-- ADMIN approve ad  -->
            <{if $xoops_isadmin and $annonce.date_pub == 0}> <a href="admin/adsmod.php?op=approve&amp;ads_id=<{$annonce.id}>"><img src="images/icon/valid.gif" border="0" alt="<{$smarty.const._MD_CATADS_VALIDADS}>" title="<{$smarty.const._MD_CATADS_VALIDADS}>" /></a>&nbsp;
            <{/if}> 
            <!-- ADMIN edit icon -->
            <{if $xoops_isadmin}> <a href="admin/adsmod.php?op=edit&amp;ads_id=<{$annonce.id}>"><img src="images/icon/edit_mini.gif" border="0" alt="<{$smarty.const._MD_CATADS_EDITADS}>" title="<{$smarty.const._MD_CATADS_EDITADS}>" /></a>&nbsp;
            <!-- ADMIN delete icon -->
            <a href="admin/adsmod.php?op=delete&amp;ads_id=<{$annonce.id}>"><img src="images/icon/delete.gif" border="0" alt="<{$smarty.const._MD_CATADS_DELETEADS}>" title="<{$smarty.const._MD_CATADS_DELETEADS}>" /></a>&nbsp;
            <!-- User my-ads icon -->
            <{if $annonce.uid > 0}> <a href="adsuserlist.php?uid=<{$annonce.uid}>"><img src="images/icon/who.gif" border="0" alt="<{$smarty.const._MD_CATADS_ALLADS}><{$annonce.submitter}>" title="<{$smarty.const._MD_CATADS_ALLADS}><{$annonce.submitter}>" /></a>&nbsp; 
            <{/if}> 
            <!-- User IP address icon -->
            <img src="images/icon/ip.gif" border="0" alt="<{$annonce.poster_ip}>" title="<{$annonce.poster_ip}>" />&nbsp; 
            <img src="images/icon/separateur.gif" border="0" alt="" />&nbsp;&nbsp;
            <{/if}>
            <!-- User controls edit, delete, suspend, renew -->
            <{if not $preview}> <{if $annonce.isauthor}> <{if $annonce.canedit}> 
            <a href="adsedit.php?op=edit&amp;ads_id=<{$annonce.id}>"><img src="images/icon/edit_mini.gif" border="0" alt="<{$smarty.const._MD_CATADS_EDITADS}>" title="<{$smarty.const._MD_CATADS_EDITADS}>" /></a>&nbsp;
            <{/if}> <{if $annonce.candelete}> <a href="adsedit.php?op=delete&ads_id=<{$annonce.id}>"><img src="images/icon/delete.gif" border="0" alt="<{$smarty.const._MD_CATADS_DELETEADS}>"  title="<{$smarty.const._MD_CATADS_DELETEADS}>" /></a>&nbsp; 
            <{/if}> 
            <!-- renew -->
            <{if ($annonce.show_renewal == 1 || $annonce.date_exp == 0) and $annonce.countpub > 0 and $annonce.date_pub > 0}> <{$smarty.const._MD_CATADS_PUB_AGAIN}>&nbsp;<{$sel_box}>&nbsp;<{$smarty.const._MD_CATADS_DAYS}>
            <{elseif $annonce.date_pub > 0 and $annonce.date_exp > 0}> <{if $annonce.suspend
            > 0}> <a href="adsitem.php?op=stopandgo&amp;ads_id=<{$annonce.id}>"><img src="images/icon/valid.gif" border="0" alt="<{$smarty.const._MD_CATADS_PUB_GO}>" title="<{$smarty.const._MD_CATADS_PUB_GO}>" /></a>
            <{else}> <a href="adsitem.php?op=stopandgo&amp;ads_id=<{$annonce.id}>"><img src="images/icon/suspend.gif" border="0" alt="<{$smarty.const._MD_CATADS_PUB_STOP}>" title="<{$smarty.const._MD_CATADS_PUB_STOP}>" /></a> 
            <{/if}> <{/if}> <{/if}> <{/if}> </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><table border="0">
    <tr>
      <td class="even" rowspan="7">

      <div class="ad_desc_heading">
      <{$smarty.const._MD_CATADS_DESC}>
      </div>
      <br /><br />

      <!-- Description -->
      <div class="ad_desc">
      <{$annonce.description}>
      </div>

      <!--Afficher Prix-->
    </td>
    <!-- pk add hide price if zero condition -->
    <{if $annonce.price > '0'}> 
      <td class="even" width="240">
      <div class="ad_sidebar"><{$smarty.const._MD_CATADS_PRICE2}>&nbsp;<{$annonce.price}>&nbsp;<{$annonce.monnaie}>
      <{if $annonce.price_option}>
      &nbsp;(<{$annonce.price_option}>)
      <{/if}>
      </div>
      </td>
      <{else}>
      <td class="even" width="240">&nbsp;</td>
      <{/if}>

    </tr>
  
    <tr>
    <td class="even" width="240">
    <div class="ad_sidebar"><{$smarty.const._MD_CATADS_LOCATION}>&nbsp;<{$annonce.region}> - <{$annonce.departement}>
    </div></td>
    </tr>
    <tr>
    <td class="even" width="240">
    <div class="ad_sidebar"><{$annonce.codpost}> - <{$annonce.town}>
    </div>
    </td>
    </tr>
    <tr>
    <td class="even" width="240">
      <{if $annonce.suspend > 0}>
         <div class="ad_alert">
        <{$smarty.const._MD_CATADS_PUB_SUSP}>
        </div>
        <{else}>
        <div class="ad_sidebar">
        <{$smarty.const._MD_CATADS_CONTACT}>&nbsp;<{$annonce.msg_contact}>
        <br /><{$annonce.maillink}> <{$annonce.pmlink}> <{$annonce.phone}>
        </div>
      <{/if}>
      </td>
  </tr>
  <tr>
    <td class="even" width="240">
    <div class="ad_sidebar">
      <{if $annonce.date_pub == 0}>
      <b><{$smarty.const._MD_CATADS_ADSWAIT}></b>
      <{elseif $annonce.date_exp == '0'}>
      <b><{$smarty.const._MD_CATADS_ADSEXP}></b>
      <{else}>
      <{$smarty.const._MD_CATADS_DATE_PUB1}>
      <{/if}>&nbsp;<{$annonce.date_pub}>
      </div>
      </td>
  </tr>
  <tr>
    <td class="even" width="240">
    <div class="ad_sidebar">
    <{if $annonce.date_exp > 0 and $annonce.date_pub > 0}>
    <{$smarty.const._MD_CATADS_DATE_EXP}>&nbsp;<{$annonce.date_exp}>
    <{/if}>
    </div>
    </td>
  </tr>
  <tr>
    <td class="even" width="240">
    <div class="ad_sidebar">
    <{$smarty.const._MD_CATADS_VIEW}>&nbsp;<{$annonce.nbview}>
    </div></td>
  </tr>
  </table>
  </td>
  </tr>
  <tr>
    <td class="odd" align="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" >
        <tr> 
          <td align="center">
           <div style="float: left"><{$annonce.photo0}></div>
           <div style="float: left"><{$annonce.photo1}></div>
           <div style="float: left"><{$annonce.photo2}></div>
           <div style="float: left"><{$annonce.photo3}></div>
           <div style="float: left"><{$annonce.photo4}></div>
           <div style="float: left"><{$annonce.photo5}></div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- video -->
  <{if $annonce.video}> 
  <tr> 
    <td class="even" align="center">

<!--[if IE]><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
		 codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
		 width="425" height="355"><script>/*<![endif]x-->
		<object type="application/x-shockwave-flash" data="<{$annonce.video}>" width="425" height="355"><script type="text/javascript">/**/</script>
			<param name="movie" value="<{$annonce.video}>" />
			<p>Alternative Content</p>
		</object>

</td>
  </tr>
  <{/if}>
  <!-- tags --> 
  <tr> 
    <td colspan="3"> 
    <div class="ad_tags" style="float: left">
    <img src="images/tags.gif" alt="" />&nbsp;&nbsp;<{$link_tags}>
    </div>
      <!-- Print icon -->
      <div class="ad_print_button" style="float: right; text-align: right"><a href="print.php?op=showone&amp;ads_id=<{$annonce.id}>"><img src="images/icon/print.gif" border="0" alt="<{$smarty.const._MD_CATADS_PRINT}>" title="<{$smarty.const._MD_CATADS_PRINT}>" align="middle" /></a></div>
    </td>
  </tr>
  <!-- other ads by -->
  <tr> 
    <td colspan="3" class="head" align="right"><{$annonce.submitter_ads}>&nbsp;</td>
  </tr>
</table>

<br />
<div align="center"><{$pub}></div>
<br />
<{/if}>


<{if not $preview}>
	<div style="text-align: center; padding: 3px;
	margin:3px;">
	<{$commentsnav}>
	<{$lang_notice}>
	</div>

	<div style="margin:3px; padding: 3px;">
	<!-- start comments loop -->
	<{if $comment_mode == "flat"}>
		<{include file="db:system_comments_flat.html"}>
	<{elseif $comment_mode == "thread"}>
		<{include file="db:system_comments_thread.html"}>
	<{elseif $comment_mode == "nest"}>
		<{include file="db:system_comments_nest.html"}>
	<{/if}>
<{/if}>
</div>